[2019-05-10 05:36] itowlson opened #3 "Marketplace icon"
We should use the AKS icon as our Marketplace icon.

[2019-05-24 15:30] timja opened #4 "Cloud "Save Kubeconfig" doesn't work with RBAC enabled cluster"
[code]

https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#azure-kubernetes-service-cluster-user-role

The built in role gives:
"Microsoft.ContainerService/managedClusters/listClusterUserCredential/action"

Whereas this vscode extension is trying to use:
"Microsoft.ContainerService/managedClusters/accessProfiles/listCredential/action"

[2019-08-30 19:55] bariscaglar opened #5 "Stuck At Please log in under Azure"
I'm not sure where to go from here.

![image](https://user-images.githubusercontent.com/1233208/64048060-7b0a1e80-cb25-11e9-8886-4f7c65a32b38.png)

[2019-09-11 05:45] MarkusRodler commented on #5
Same problem & no documentation

[2019-09-13 07:16] ilya-spv commented on #5
The issue is still legit, took time to figure out what I had to do. Ran it in terminal as well :)

There probably can be a bit better explanation or clickable link or something in there, though it seems it's already handled in the linked PR

[2019-10-21 15:20] m-v-k opened #7 "'Log in' documentation"
Took me a while to find a closed issue here explaining how to properly sign in.
please add this to some readme. 'how to use' or 'getting started'

[2019-11-26 01:51] itowlson commented on #7
I think #6 addresses this at the UI level, but if it's still confusing after we ship that then I can definitely add some docs!

[2019-11-26 02:24] itowlson commented on #4
@timja Sorry for dropping the ball on this one and for so long, and thank you for pointing me at the API I should be using.  Can you clarify how to reproduce this issue?  I created a cluster with RBAC but Save Kubeconfig seems to be working okay for me.  Does this relate to the permissions of the logged-in Azure user (i.e. AAD RBAC on the Azure object) rather than RBAC being enabled on the cluster

[2019-11-26 07:12] timja commented on #4
Yes it relates to your azure rbac role, if you only have cluster user role it doesn’t work

[2019-12-02 02:11] itowlson opened #8 "Provide a stable, documented API"
Some people have expressed interest in integrating their own Azure extensions with the AKS cluster browser.  At the moment this requires reading source code and making assumptions about internal data structures, which isn't sustainable: let's provide a simple API that we can stabilise, document and evolve in a compatibility-preserving way.

cc @squillace

[2019-12-05 00:08] itowlson opened #11 "Subscription icon does not show in VSIXed extension"
With the new login/display experience, subscriptions are meant to now have a 'key' icon.  When running the extension from source, this appears correctly.  But when packaged as a VSIX (or downloaded from the marketplace), the key does _not_ appear and there is a blank gap.  This is cosmetic but would be nice to figure out.

Tentatively assigning this to @philliphoff but if you don't have bandwidth

[2019-12-05 01:18] philliphoff commented on #11
How strange!  I'll take a look.

[2019-12-05 19:13] #11 closed

[2019-12-11 15:05] squillace opened #14 "deprecation: package needs updating"
![image](https://user-images.githubusercontent.com/1422718/70632922-aceb5080-1bfd-11ea-8678-8cd0882e0379.png)

[2019-12-12 19:49] phealy opened #16 "Extension does not work properly under Remote-SSH"
I have the extension installed locally and in an Ubuntu 18.04 server I'm accessing via [VS Code Remote SSH](https://code.visualstudio.com/docs/remote/ssh). I am currently testing this using VS Code Insiders 1.41.0:
![image](https://user-images.githubusercontent.com/3046014/70743646-cff12f80-1ce5-11ea-97d6-db64b47a95f1.png)

As you can see in the screenshot below, the Azure option does not appear u

[2019-12-24 06:01] welloncn opened #17 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-aks-tools`
- Extension Version: `0.0.4`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.41.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\le.wang\ms-kubernetes-tools.vscode-aks-tools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Expla

[2019-12-26 17:22] daniv-msft commented on #17
Thank you for reporting this issue!
Could you please attach the cpuprofile.txt file to this issue, so that the team in charge of this extension can investigate it?
Thanks!

[2019-12-26 17:57] daniv-msft opened #18 "Activation failure: Cannot find module 'vscode-kubernetes-tools-api'"
The vscode-aks-tools extension failed to activate for one of our team members with error:
`Activating extension 'ms-kubernetes-tools.vscode-aks-tools' failed: Cannot find module 'vscode-kubernetes-tools-api'`

![image](https://user-images.githubusercontent.com/48293037/71485382-9a5c4400-27c5-11ea-8560-4d108c791446.png)

The team member fixed this by uninstalling the extension, deleting the files l

[2020-02-14 00:57] #3 closed

[2020-04-01 11:52] rpus commented on #17
[ms-kubernetes-tools.vscode-aks-tools-unresponsive.cpuprofile.txt](https://github.com/Azure/vscode-aks-tools/files/4414873/ms-kubernetes-tools.vscode-aks-tools-unresponsive.cpuprofile.txt)

[2020-04-01 11:53] rpus commented on #17
(There's one from me, since I just got the modern equivalent of this issue!)

Version: 1.43.2
Commit: 0ba0ca52957102ca3527cf479571617f0de6ed50
Date: 2020-03-24T07:34:57.037Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

[2020-04-01 19:23] itowlson commented on #17
Thanks.  We probably need to webpack the extension... _shudders in fear_

[2020-04-04 21:06] smrtRock opened #21 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-aks-tools`
- Extension Version: `0.0.4`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.44.0-insider`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-04-05 21:36] itowlson commented on #21
@smrtRock Looks like some of the issue details didn't come through - can you remember what the problem was?  Thanks!

[2020-05-27 23:59] itowlson commented on #14
Last time I looked at this, `@azure/arm-containerservice` didn't actually work for us - I think it didn't play nicely with the credentials that the Azure Account extension gave us.  I think I raised an issue for that but I can't remember where or find it now... anyway @Tatsinnit has bravely volunteered to pick this one up so hopefully he will be able to get it sorted!

[2020-05-28 09:11] Tatsinnit commented on #14
👍  Thanks: @itowlson - I might have something to share\show\thought-share tomorrow as a fix for this, at least at this repo level. 🙈

[2020-05-29 00:14] itowlson commented on #16
Sorry for the ridiculous delay in responding to this issue.  @tatsinnit is this something you would have bandwidth to look at?

[2020-05-29 00:15] itowlson commented on #4
@tatsinnit can you take a look at this please?

[2020-05-30 13:08] mohamedfasil opened #24 "opening https dashboard link with certificate invalid and asking for token"
Since today, this is opening https://localhost:10000 and asking for token or kubeconfig to login

[2020-05-31 04:50] Tatsinnit commented on #24
Hey, @mohamedfasil do you have consistent replication steps (Which might help to re-pro, if this behaviour relates to this extension or just the login to the account takes you to localhost)? Also, what was the behaviour previously, is this relating to your login for the azure account? Essentially anything else which might help in digging deeper to help us better understand if this is specific to e

[2020-05-31 09:31] Tatsinnit commented on #16
Hiya @phealy, Here is what I found and seems like I got my "Azure" Appearing at least with current vscode version with Remote SSH, Screenshot below + Thanks @itowlson gave it a try and seems to be **working** for me. It must be something specific to the version or something else.

Working `Azure` option with Remote `SSH` vscode.

<img width="1473" alt="forgit" src="https://user-images.githubuserco

[2020-05-31 11:01] Tatsinnit commented on #18
Hiya @daniv-msft , I have not seen this and probably this was **caused with corrupt or partial extension install could be for various factors**. Also, cc: @itowlson for more ideas but seems like this was due to a dependency missing caused by unknown partial extension download reason.

The one way I can replicate this (not exactly) but close is by first `npm uninstall vscode-kubernetes-tools-api` a

[2020-06-01 15:59] daniv-msft commented on #18
Hi @Tatsinnit,
Thank you for having a look at this. I haven't seen this bug reproduce since this initial issue, so it's fine to close it for now, and reopen it in the future if needed (hopefully with better repro steps).

[2020-06-01 15:59] #18 closed

[2020-06-01 21:16] itowlson commented on #24
This sounds like it may be this issue from the core k8s extension: https://github.com/Azure/vscode-kubernetes-tools/issues/617 (I don't think there's a dashboard command in the AKS extension).  @mohamedfasil did you by any chance recently upgrade the AKS cluster?

cc @bnookala

[2020-06-01 23:08] Tatsinnit opened #25 "UX Size of the extension Icon is too big. (Possible cause of Icon not appearing)"
💡 Documenting this as I read few things and there is no clear documentation but bits and bobs which indicates that the `vscode extension` icon should be `128x128 pixel` references are below, and that probably is the reason why marketplace icon for this extension don't get displayed.

Contextually this refers to this comment here: https://github.com/Azure/vscode-aks-tools/pull/20#pullrequestreview-

[2020-06-03 04:17] mohamedfasil commented on #24
Hey @itowlson, yes that was the problem, closing this issue

[2020-06-03 04:17] #24 closed

[2020-06-03 04:26] itowlson commented on #24
@Tatsinnit would you be willing to look at the core extension issue?  It is one of the places where we had to inject an AKS-specific workaround, I think, so within your bailiwick I think!

[2020-06-03 21:31] Tatsinnit commented on #24
Cool, Sounds good, @itowlson :) Also I have not touch that side of the extension so might as well see how exactly whole things fit together. ⛩️ 👍

[2020-06-09 08:14] Tatsinnit commented on #14
💡 I am re-opening this, because I can see with the changes type fix we end up in a internal error for `MS-Rest-JS` in --> `ServiceClient.ts` ==> `sendRequest` which cause extension level type error. Thanks heaps.

[2020-06-09 22:22] Tatsinnit commented on #14
Hiya guys @philliphoff & @itowlson 🛡️ 🤖

Below is my 2 cent finding of how this update will break existing `merge config` and `save kubeconfig` changes.

# Weird `ms-rest-js ==> serviceClient.ts` failure led to more deep dependency issue.

I am sure new package is bigger and better, **but**I really think that this whole `@azure/containerservices or arm-resource` et. al. packages change was not tho

[2020-06-09 23:11] Tatsinnit commented on #14
💡 -- Thanks @itowlson for quick chat and you summed it write, i..e bunch of stuff not talking nicely to each other with this extension is consuming so I am going ahead and reverting these changes.

[2020-06-09 23:36] Tatsinnit commented on #16
Hiya @phealy , can you please give another try and see if you can replicate this issue, if so please share the steps, otherwise when I tried it seems to be behaving well, the version and result is something I have paster in my reply above.  = )

Thanks heaps.

[2020-06-10 22:56] Tatsinnit opened #28 "End-to-end- CI test integration investigation."
This is a placeholder for thoughts\ideas to investigate mechanism to integrate test hooks for ask-tools build and that way we can counter any breaking changes pre-emptively and earlier then depending on manual tests:

[x] Possible approaches?
[x] Do we want to go functionalists level test and possibly think of UI level tests latter?

Thanks heaps,

[2020-06-11 03:57] Tatsinnit commented on #25
This is working thanks heaps, closing the issue

<img width="600" alt="Screen Shot 2020-06-11 at 3 57 18 PM" src="https://user-images.githubusercontent.com/6233295/84343421-41119100-abfc-11ea-8f80-b47dd7cfbd80.png">

[2020-06-11 03:57] #25 closed

[2020-06-16 22:03] Tatsinnit commented on #4
💡Hiya @timja ,  I tried to repro this, but it **works** for me, I wonder if this could be double check or specific steps to repro can be shared:

Here is what I did, for the successful scenario:

* Created `aks cluster` via portal default version of cluster I used was `1.15`.
* Once resource is all done: I went to `Access Control` here:

<img width="270" alt="Screen Shot 2020-06-17 at 9 56 53 AM"

[2020-06-21 23:25] Tatsinnit commented on #4
💡 **Update\To keep everyone in loop**: This issue will be resolved when the next release will go out, [this PR](https://github.com/Azure/vscode-aks-tools/pull/32) was merged to cater the issue. Keeping this to open state until next release.

📔 This issue was only reproducible to the `aks clusters` where users don't `own` but only have `user` role for the cluster. Thank you Ivan for the Merge et. a

[2020-08-18 00:01] Tatsinnit opened #34 "WorkItem: Generic wrapper for telemetry for enabling all feature for telemetry."
Intent of this placeholder work item is to hook wrapper functionality to enable all the existing feature of this extension to enable telemetry.

* Possibly `regiterCommand` wrapper which add telemetry based on command used.
* Some kind of update document for the telemetry enablement for wider audience.

[2020-08-27 01:33] Tatsinnit commented on #34
New telemetry wrapper method for `registerCommand` is `registerCommandWithTelemetry` this calls a `Telemeterise` which wraps the `callback and with sendTelemetry` mechanism with editing register command. Thanks.

[2020-08-27 01:33] #34 closed

[2020-09-08 01:58] itowlson commented on #7
Think #38 covers this, but happy for anyone to reopen it if the docs still don't give them what they need!

[2020-09-08 01:58] #7 closed

[2020-09-11 04:54] Tatsinnit commented on #4
💡  This issue is fixed with the release 0.0.7, thanks.

[2020-09-11 04:54] #4 closed

[2020-09-16 15:08] ezam-ws commented on #17
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/Azure/vscode-aks-tools/files/5233016/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2020-09-16 15:09] ezam-ws commented on #17
[ms-kubernetes-tools.vscode-aks-tools-unresponsive.cpuprofile.txt](https://github.com/Azure/vscode-aks-tools/files/5233022/ms-kubernetes-tools.vscode-aks-tools-unresponsive.cpuprofile.txt)

[2020-09-16 23:11] Tatsinnit commented on #21
Hiya @smrtRock , seems like the details of the issue didn't come through, and since its more than 5 months I will close this issue for now as there is no actionable item we can investigate, but happy for you/anyone to reopen in case there are more details relevant to this issue. Thanks heaps,

cc: @itowlson

[2020-09-16 23:11] #21 closed

[2020-09-17 00:04] Tatsinnit opened #40 "Refresh icon in Cloud Explorer."
**Problem**:

* When I add new cluster under existing sub I donot have any way to refresh my sub for new cluster to appear I.e. Refresh icon in cloud explorer will resolve this issue.

**Steps to produce**:

* I added new cluster and had my explorer window open in extension.
* Once new AKS cluster is added, I tried to refresh the current sub in my extension.
* Result: Sub is not refreshed with new

[2020-09-17 02:12] Tatsinnit commented on #40
💡 I fee like this is not really a `bug` but more kind of feature is in need, the `refresh` here is only responsible for the subs addition refresh not the treeItem refresh, jsut like `select subscription` we can add a `refresh subscription` and that way we can achieve this.

[2020-09-29 05:45] yunjchoi opened #44 "[Known Issue] ContainerNotFound error code returned when generating downloadable links"
Due to a limitation in the underlying tool, AKS Periscope, you may **occasionally** encounter an error message similar to below when you click on the Generate Link Button for the first time.

`Error generating downloadable link: RestError: ﻿<?xml version="1.0" encoding="utf-8"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist. RequestId:ec6f38a9-001e-008b-471e-9

[2020-10-09 23:47] abdelhajji opened #45 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-aks-tools`
- Extension Version: `0.0.7`
- OS Version: `Windows_NT x64 6.1.7600`
- VSCode version: `1.49.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-10-12 23:26] itowlson commented on #45
Kia ora @abdelhajji, it looks like the details you wrote into VS Code didn't paste.  Could you update the issue with a description and more information please?

[2020-10-20 17:16] flakd commented on #17
Just got this 5min ago....

[ms-kubernetes-tools.vscode-aks-tools-unresponsive.cpuprofile.txt](https://github.com/Azure/vscode-aks-tools/files/5410345/ms-kubernetes-tools.vscode-aks-tools-unresponsive.cpuprofile.txt)

[2020-10-30 05:11] FusionArc opened #49 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-aks-tools`
- Extension Version: `0.0.8`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.50.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-10-30 05:12] FusionArc commented on #49
[code]

[2020-11-02 21:58] itowlson commented on #49
+ @daniv-msft because it looks like Mindaro/Bridge to Kubernetes is involved here

[2020-11-02 22:17] daniv-msft commented on #49
Thanks @itowlson. I confirm this error is coming from https://github.com/Microsoft/mindaro.

@FusionArc Could you please clarify what is wrong from your perspective?
The error in itself seems legitimate to me, if no kubeconfig file is present in the target location.
If your kubeconfig file is stored in another location, feel free to update the current target location through the `Kubernetes: Set K

[2020-11-07 23:08] KYZITEMELOS93 opened #50 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-aks-tools`
- Extension Version: `0.0.8`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.51.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-11-09 04:20] Tatsinnit commented on #50
Hi @KYZITEMELOS93 , it looks like the details you wrote into VS Code didn't paste. Could you update the issue with a description and more information please? Thanks

[2020-12-03 11:48] bariscankurtkaya opened #52 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-aks-tools`
- Extension Version: `0.0.8`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.51.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-12-04 03:07] Tatsinnit commented on #52
💡 Thanks, + hello @daniv-msft because it looks like Mindaro/Bridge to Kubernetes is involved here. cc:@itowlson

[2020-12-04 16:27] daniv-msft commented on #52
Thanks @bariscankurtkaya for logging this issue, and @Tatsinnit for looping me in.

@bariscankurtkaya Could you please clarify the issue you encountered? As there are no errors mentioned in the bug, it's not very clear to me what goes wrong.

@Tatsinnit FYI, we realized recently that we still kept a VS Code dependency in Bridge to Kubernetes on the AKS extension, whereas we're not AKS specific any

[2020-12-15 11:21] Adesoji1 opened #53 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-aks-tools`
- Extension Version: `0.0.8`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.52.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:```json
{
	"messages": [],
	"activationTimes": {
		"codeLoadingTime": 8700,
		"activateCallTime": 0,
		"activateResolvedTime": 42,
		"activationReason": {

[2020-12-16 05:27] Tatsinnit commented on #53
💡 Thank you, + hello @daniv-msft for any recommendation I believe it is from `azds` shich is this: https://marketplace.visualstudio.com/items?itemName=azuredevspaces.azds the recommendation looks like Bridge to Kubernetes,  here. cc:@itowlson

[2020-12-16 19:17] daniv-msft commented on #53
@Adesoji1 Thank you for logging this issue. This error seems indeed to be coming from the Azure Dev Spaces extension, which is being retired. Could you please uninstall this extension?
If you still need to debug Kubernetes services from VS Code, please have a look at https://marketplace.visualstudio.com/items?itemName=mindaro.mindaro which is the successor of Azure Dev Spaces.

@Tatsinnit Thank yo

[2020-12-17 22:18] Tatsinnit commented on #53
Thank you so much @daniv-msft cool, as recommended, thank you @Adesoji1 seems like recommendation is to download new extension. Closing this issue. cc: @itowlson

[2020-12-17 22:18] #53 closed

[2020-12-17 22:19] Tatsinnit commented on #45
Hiya @abdelhajji , seems like the details of the issue didn't come through, and since its more than 2 months I will close this issue for now as there is no actionable item we can investigate, but happy for you/anyone to reopen in case there are more details relevant to this issue. Thanks heaps,

cc: @itowlson

[2020-12-17 22:19] #45 closed

[2020-12-17 22:22] Tatsinnit commented on #49
Thank you @daniv-msft ! Hello @FusionArc ,seems like best place to share detail will be against this repository with more details, https://github.com/Microsoft/mindaro. new version of Bridge to Kubernetes earlier this week. Thanks heaps,

cc: @itowlson

[2020-12-17 22:22] #49 closed

[2020-12-17 22:24] Tatsinnit commented on #50
Hiya @KYZITEMELOS93  , thought I might do some end of year clean up seems like the details of the issue didn't come through, and since its more than 1 month I will close this issue for now as there is no actionable item we can investigate, but happy for you/anyone to reopen in case there are more details relevant to this issue. Thanks heaps,

cc: @itowlson

[2020-12-17 22:24] #50 closed

[2020-12-29 04:53] Tatsinnit commented on #52
Thanks @bariscankurtkaya , further,  thanks @daniv-msft for the details, as there is no actionable information and this specific issue is related to the `Mindaro/Bridge to k8s` I will close this issue for now, and in case there is any further information which is relates to this extension please feel free to re-open it.

Also I noticed a similar issue here which seems like related to `Mindaro/brid

[2020-12-29 04:53] #52 closed

[2021-01-26 01:39] KYZITEMELOS93 commented on #50
oops sorry I don't remember doing this must have been automatic my apologies!

[2021-02-02 19:38] sandipchajjed opened #54 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-aks-tools`
- Extension Version: `0.0.8`
- OS Version: `Darwin x64 20.3.0`
- VSCode version: `1.52.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-02-02 19:38] sandipchajjed commented on #54
[code]

[2021-02-04 01:25] itowlson commented on #54
@Tatsinnit We should look at webpacking the extension as we now (finally!) do for the core extension.  Are you interested in looking at that or shall I do it - I know you have a lot on your plate right now.

[2021-02-06 17:52] williamohara opened #55 "can log in - lead me to a localhost url"
To reproduce

1. Open VS code after having installed Kubernetes extension and azure dev tools. I am already logged into az cli in powershell
2. under Kubernetes extension - click on "Sign-in to Azure..." under clouds section

Expected:
I am directed to a page to enter my login credentials

Observed:
I am directed to a page on my localhost that looks like this
https://localhost:51383/signin?nonce=0

[2021-02-08 16:16] williamohara commented on #55
not an issue any more - it seems to work

[2021-02-08 16:16] #55 closed

[2021-03-15 02:35] #14 closed

[2021-04-25 20:21] montgomerybc opened #65 "Attaching terminal to pod displaying debugging information"
# Extension Version
v0.0.8

# VSCode Version
Version: 1.55.2 (system setup)
Commit: 3c4e3df9e89829dce27b7b5c24508306b151f30d
Date: 2021-04-13T09:35:57.887Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.19042

# Repro
Navigate to pod: CLUSTERS / Workloads / Deployments / my-k8s-deployment / my-k8s-pod
Right Click / Terminal

Following is r

[2021-05-04 17:19] lszomoru opened #68 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-05 10:42] Tatsinnit commented on #68
Hello there👋, I could give it a try and share what was my experience/feedback. Thank you so much.

[2021-05-07 11:51] lszomoru opened #69 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-17 15:09] aelij opened #70 "Support admin credentials"
It can be useful to connect to an AKS cluster using `az aks get-credentials --admin`.
Please support it in the extension

[2021-06-17 01:16] Tatsinnit opened #72 "Scope work for zipping blob within vscode and decouple dependency on zip file from periscope tool."
## Initial description

This work-item is created to scope what all work will entail to stock take work needed to write extension level `*.zip` for case when\if periscope tool removes `*.zip` from their upload to `azure storage`.

* How much upfront work will be needed to render the `azure storage` and use `jszip`.
* With initial investigation it will definitely involve writing the `zipper` functi

[2021-06-17 01:55] Tatsinnit opened #73 "Migrate vscode module to latest."
This workitem aims to upgrade our extension to latest `vscode` module  https://code.visualstudio.com/api/working-with-extensions/testing-extension#migrating-from-vscode

<img width="1771" alt="Screen Shot 2021-06-18 at 10 42 45 AM" src="https://user-images.githubusercontent.com/6233295/122481010-0cf85980-d022-11eb-91ae-9d9977702744.png">

* https://code.visualstudio.com/updates/v1_36#_splitting-vs

[2021-06-17 23:44] #73 closed

[2021-06-30 01:05] Tatsinnit commented on #72
💡Update: This is not longer necessary because the zip functionality is added back with latest enhancement. Thanks. PR at the periscope end where discussion took place et. al. is here: https://github.com/Azure/aks-periscope/pull/65

Closing this work item.

[2021-06-30 01:05] #72 closed

[2021-07-03 01:25] Tatsinnit commented on #70
💡 Thank you for this @aelij , I am not entirely sure scenario is underlying for adding `--admin` flag for this but this extension is child extension of : https://github.com/Azure/vscode-kubernetes-tools extension.

Might be worth to detail your scenario which you think will benefit having the `--admin` flag.

* Essentially here is what happens for `get-credentials`: https://github.com/Azure/vscode

[2021-07-04 11:15] aelij commented on #70
Thanks, @Tatsinnit. Could you maybe [transfer](https://docs.github.com/en/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository#transferring-an-open-issue-to-another-repository) the issue? I don't have permissions :)

[2021-07-07 02:09] Tatsinnit commented on #70
Update:

Hiya @aelij, just to keep you in loop, I am planning to scope some work for this and see if there is a way to handle it before we transfer.

Will keep you posted. Thank you so much. 🙏

[2021-07-07 04:15] Tatsinnit commented on #68
💡 thank you for this issue and given #71 caters the need, I will close this workitem/issue now. Please fee free to open in case anything is missed.

Thank you so much, @itowlson for discussions and merge.

[2021-07-07 04:15] #68 closed

[2021-07-22 00:35] Tatsinnit opened #79 "[Known Issue] Webview VSCode Issue."
Hiya, Intent of logging this issue is to have this repo level information visible as well. (Thought it will be better to proactively opening this for visibility.)

**Behaviour**:

Since few weeks I notice that `CSS` in webview gets a small glitch before it uploads it correctly in OSX, but then today in windows I found it much worst (it works - but intermittently fails with error or just doesn't lo

[2021-08-10 23:16] qpetraroia opened #80 "AKS Periscope breaking change: Need to supply ContainerName to AKS Periscope from future release v0.5 onwards"
AKS Periscope used to read the container name with a hardcoded Kubeconfig. This [PR](https://github.com/Azure/aks-periscope/pull/96) and this [issue](https://github.com/Azure/aks-periscope/issues/99) discuss the breaking changes that will occur to each service that has a working contract with AKS Periscope. The removal of the hardcoded code in Periscope will allow for other tools to onboard onto A

[2021-10-18 03:19] #79 closed

[2021-10-18 03:21] #69 closed

[2021-10-18 21:54] #54 closed, assigned to Tatsinnit

[2021-10-19 22:26] #80 closed

[2021-12-18 20:43] Tatsinnit commented on #44
💡 Thanks for this and since this issue is open for a while, I think I will close it as it since real issue is with how azblob upload function behave which is  used in periscope tool. Prima facie, the upload function in blob does 256 mb data at once and it is non asynchronous funct so no await et. Al.

read comments just above the upload code.

https://docs.microsoft.com/en-us/azure/storage/blobs/s

[2021-12-18 20:43] #44 closed

[2021-12-21 17:55] #28 closed

[2021-12-21 18:05] Tatsinnit commented on #40
☕️💡upon further rethink, this is not really a big of this extension essentially as explained in the associated closed PR, this api https://github.com/Azure/vscode-kubernetes-tools-api/blob/master/ts/cloudexplorer/v1.ts takes care of resolving the target.

Hence rather then hack I might open a tracking issue against the api respository. Please feel free to add more context and we can reopen it if t

[2021-12-21 18:05] #40 closed

[2021-12-22 21:53] Tatsinnit commented on #70
💡 🕵️ Here is a possible idea / possible solution so I will share below as a note and will try it out sometime, if it is doable.

* Create the `shelljs` wrapper in this project for the `az command` here https://github.com/Azure/vscode-kubernetes-tools/blob/master/src/components/clusterprovider/azure/azure.ts#L359
* Then, create sub-menu with another menu option called `Merge to Kubeconfig (Admin)`

[2021-12-23 07:11] aelij commented on #70
This has become much less needed now that AKS supports Azure RBAC.
But there is another issue, with RBAC `kubectl` requires some form of interactive login, and it causes the plugin to get stuck loading the cluster tree.

[2021-12-23 07:29] itowlson commented on #70
The cluster tree is a known issue in the `vscode-kubernetes-tools` extension (which this one builds on top of) and frankly I’m stumped on how to address it. The issue, as you’ve identified, is that we use kubectl to interact with k8s, including e.g. to get the list of known clusters; and in RBAC mode, kubectl pauses to prompt the user, and we can’t easily detect that, so we end up hanging forever.

[2021-12-23 07:38] aelij commented on #70
One small improvement that you could add - currently after it gets stuck, you have to restart VS Code. To fix it, I run kubectl manually, login interactively, then restart VS. It would be helpful if the extension would cancel the stuck kubectl command when clicking the refresh button instead of remaining stuck.

I'd also add a timeout for all kubectl commands.

[2021-12-23 08:06] itowlson commented on #70
That might be an acceptable compromise, and at this point an acceptable compromise is better than leaving it as is while trying to figure out an ideal solution. Thanks for the suggestion!

[2021-12-23 08:08] aelij commented on #70
I'm closing this issue as it's less important

[2021-12-23 08:08] #70 closed

[2021-12-23 23:33] Tatsinnit commented on #8
💡☕️ Since this is the only issue under this repo, I wonder if this is all no longer required because I can see how easy it is for other extensions to add features like Pipeline folks did. Also not sure what is the key intent / idea for this.

What do you guys think, and what exactly this work entails, et. al. is not something I know hence a N00b questions. :) Is it cool to close this for now, if t

[2021-12-23 23:39] itowlson commented on #8
This harks back to the work with other Azure teams that wanted to surface their services in the Cloud tree.  I think you can probably put it on ice, but perhaps make sure there are comments in the code that other Azure teams have taken dependencies on the Cloud tree node objects, and that compatibility must be considered when modifying them.

[2021-12-23 23:59] Tatsinnit commented on #8
Thank you so much for this @itowlson, will this #94 will suffice. Please let me know what you think 🙏☕️ and thank you once again for quick replies and context. ☃️

[2021-12-24 00:49] Tatsinnit commented on #8
☕️❤️💡 Thank you so much @itowlson for discussions and pointers around this, closing this workitem and if need be we can either re-open this or open a new one with whatever underlying work which should be involved.

for archive: here is the comment and location of the files under following comments: https://github.com/Azure/vscode-aks-tools/pull/94#issuecomment-1000580377

Thanks heaps. 🙏

[2021-12-24 00:49] #8 closed

[2022-03-28 16:03] mickeyperlstein opened #107 "using az cli 2.34 but you are looking for cli 2.00"
➜  ~ az version
{
  "azure-cli": "2.34.1",
  "azure-cli-core": "2.34.1",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {}
}

---
# Error checking prerequisites
The Azure command line failed. See below for the error message. You may need to:

1. Log into the Azure CLI (run `az login` in the terminal)
1. Install the Azure CLI [(see the instructions for your operating system)](https://docs.micros

[2022-03-28 18:09] itowlson commented on #107
We don't look specifically for 2.0 - that message means the 2.0 stream because at the time there was also an Azure CLI 1.0 which was different, and we should probably update it to say "2" or "2.x" rather than "2.0".  2.34 ought to work but it looks like they've changed the output of `--version` again which breaks our checking.

That said, I think the bits of the extension that use the Azure CLI ar

[2022-05-04 19:37] sonofhammer opened #124 "Extension can't find `grep` when installed in a windows OS"
I installed the extension on a windows 10 machine that doesn't have `grep` installed.

I got the following warning:

[2022-05-04 23:02] Tatsinnit commented on #124
Thank you @sonofhammer for noticing this, we will fix this and release it as part of `0.0.18` for vscode. We will loop back once release in marketplace is done. Really appreciate for this. 🙏☕️

[2022-05-04 23:03] #124 closed

[2022-05-12 23:01] peterbom opened #130 "Fix or remove 'Azure Services' initialization code"
When the extension is loaded, it executes some code which initializes the 'Azure Services' treeview item:
<img width="98" alt="image" src="https://user-images.githubusercontent.com/1817696/168179488-cacb23ef-ba6c-4805-b069-fdff0894569e.png">

There are some things that need looking at with this:
- It is not documented, AFAIK -- @Tatsinnit - am I wrong about that?
- It doesn't appear to work, at le

[2022-05-13 06:09] itowlson commented on #130
Background:

This was created partly to provide a list of specifically Azure services, so the user could find them without grovelling through the full list of CRDs, but also as a place where people could pin the CRDs they regularly worked with, because, even filtered, the set of Azure CRDs is unmanageably huge!

This is not to say it can’t be removed or changed!  Just providing context on the reas

[2022-05-16 20:59] peterbom commented on #130
Thanks @itowlson! @Tatsinnit also gave me a bit of history and I now have a much better understanding of why it's there.

I'm wondering if it might be possible for us to create a `NodeContributor` that wraps and filters the one that's registered for `Custom Resources`, rather than duplicating it (and all the long-running retrieval logic) in the AKS extension.

Any initial thoughts whether it might

[2022-05-16 21:35] itowlson commented on #130
That sounds like a good idea - loading a particular set of CRDs and representing them in a more relevant way is definitely a key use case for the API, and it would be great to have additional support for this.

[2022-05-20 02:39] Tatsinnit opened #131 "Bring extension out of preview."
Hiya Guys,

Writing this issue as tracking issue for any thoughts / idea which might suggest otherwise, we are planing to drop `Preview` out of this extension which means that in this line within package.json will be gone https://github.com/Azure/vscode-aks-tools/blob/master/package.json#L6 along with all the preview reference if any fro documentation and the version will sit at `1.0.0`

Thank you

[2022-05-20 03:28] itowlson commented on #131
👍 🎉 🚀 💯 ❤️

[2022-05-20 20:15] rzhang628 commented on #131
I love this feature! Please move forward :)

[2022-05-22 02:41] microsoft-github-policy-service[bot] opened #134 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-22 02:48] #134 closed

[2022-05-24 20:29] #131 closed

[2022-06-12 23:15] Tatsinnit commented on #107
Thank you for the discussion, @mickeyperlstein if there something specific to reproduce this please share, or if this is still happening for you please let us know otherwise I will close this issue for now and you can re-open it with re-pro steps. Thanks. 🙏 ☕️

[2022-06-12 23:15] #107 closed

[2022-06-20 03:42] peterbom commented on #130
I've played around with a couple of ideas here, with pretty limited success. The API [provides a couple of ways](https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/blob/master/docs/extending/clusterexplorernodes.md) of initializing a folder:
1. Using `explorer.nodeSources.groupingFolder("Grouping Folder", undefined, resourceFolders)`, which makes use of resources that have been det

[2022-06-20 23:23] itowlson commented on #130
We expose the kubeconfig path we're using via the Configuration interface: https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/blob/master/src/api/contract/configuration/v1_1.ts

However, hopefully we can make that a last resort.  Here are some thoughts on the API approaches:

* As you note, the built-in `GroupingFolder` currently needs to know its children at construction time.  We

[2022-06-20 23:28] itowlson commented on #130
Sorry, re your last paragraph - it is the _intention_ that the API make this feasible already - but clearly it is not doing enough.  I think part of the trouble is that we have a blunt API (GroupingFolder/ResourceFolder) that is built mainly around "just put my four resource types in a folder", and a low-level API (NodeContributor) that is full customisation, anything goes, and nothing in between.

[2022-06-20 23:37] peterbom commented on #130
Thanks, @itowlson! I think that gives a good path forward.

After my last post, I was already leaning towards your second bullet point (writing a custom node contributor). I'm pretty familiar with the CRD listing logic in the K8s extension so should be good to get started with that.

If a dynamic `GroupingFolder` does at some point make its way into the API, we can always update the code later to

[2022-07-11 00:11] #130 closed

[2022-07-18 05:31] shaygover opened #146 "Can't login to cluster"
Hi,

For some reason, vscode says That "No clouds registered, Click here....".
AKS is installed and was working fine a few months ago.
If I downgrade AKS plugin version to 1.1 it sometimes work.

I can sign in to Azure so that part works.

Ideas?

[2022-07-19 02:15] Tatsinnit commented on #146
Hiya @shaygover, Thanks for this ping, The only way I can replicate if I uninstall my actual AKS extension, so I am guessing you see this screen below, have you downloaded the AKS Extension form market place, because if you click on that link it sill take you through the extensions cloud provider page:

* AKS Extension Marketplace link: https://marketplace.visualstudio.com/items?itemName=ms-kubern

[2022-07-19 04:53] shaygover commented on #146
It's installed.

On Tue, Jul 19, 2022 at 5:16 AM Tatsinnit ***@***.***> wrote:

[2022-07-20 15:04] shaygover commented on #146
v1.69.1
On Linux. Tried reinstalling.

[2022-07-21 04:10] Tatsinnit commented on #146
Thank you so much @shaygover.

I am still not able to replicate this, can you share any error, vscode logs files? What O/S are you operating on? If there are specific steps I can do to reproduce this then it will be really helpful please.

Once extension is installed, and you restart the vscode the extension is still not installed so have you checked the extension manager if there is some sort of

[2022-07-21 04:26] itowlson commented on #146
@Tatsinnit I gave it a quick try on WSL.  I didn't drill in (because I no longer have an account), but an Azure entry appeared in Cloud Explorer for me with k8s extension 1.3.10 and AKS 1.2.0.  Not very helpful I'm afraid...!

[2022-07-21 06:16] shaygover commented on #146
I'll try to completely uninstall and then reinstall.
In the meantime, have any dependencies changed in the last 6 months?
I might have something missing.

On Thu, Jul 21, 2022 at 7:27 AM itowlson ***@***.***> wrote:

[2022-07-21 07:06] Tatsinnit commented on #146
Hiya @shaygover , thank you and sound like a plan.

The AKS extension is child extension of Kubernetes extension and under the **dependencies** section you can check (in case you are missing anything) (might be az-cli?)

* link to Kubernetes extension- https://marketplace.visualstudio.com/items?itemName=ms-kubernetes-tools.vscode-kubernetes-tools

Thanks,
^Tats

[2022-07-21 07:13] shaygover commented on #146
No. I meant new libraries it might require and such, not other extensions.

On Thu, Jul 21, 2022 at 10:07 AM Tatsinnit ***@***.***> wrote:

[2022-07-21 07:27] Tatsinnit commented on #146
Hiya @shaygover , to avoid further misunderstanding, I am not able to get the libraries reference? are you building this extension for contributio? Or are you consuming this extension as a tool?

Thank you.

[2022-07-21 07:31] shaygover commented on #146
Consuming but the builder might've missed something.

On Thu, Jul 21, 2022 at 10:28 AM Tatsinnit ***@***.***> wrote:

[2022-07-21 07:36] Tatsinnit commented on #146
AFAIK - the extension gets downloaded as VSIX - OPC (open packaging convention), I don’t honk any extra external libraries will be required.

Just for share: Here is a nice read about anatomy of VSIX https://docs.microsoft.com/en-us/visualstudio/extensibility/anatomy-of-a-vsix-package?view=vs-2022

might be worth checking that you have Kubernetes extension installed, az-cli and aks extension.

Wil

[2022-07-21 08:17] itowlson commented on #146
@Tatsinnit I think Shay must have the k8s extension installed or they wouldn't see the Clouds pane at all.

@shaygover As per one of Tats' earlier messages, the logs may be the best way to diagnose this - it feels like the extension is either not loading or is having some sort of race condition (your comment that 1.1 works "sometimes" makes me wonder if a race could be the problem).  Failures like

[2022-07-21 08:50] shaygover commented on #146
Same after reinstall of the same version. It worked for a few moments with v1.63 and older extension versions. When I tried to update to new version, it stopped working. Will attempt again to find the stable versions.
Also note that I'm unable to install AKS from the search, I can't find it. Had to install from file.
Nothing in the logs.

How do I run the code under the debugger?

[2022-07-21 09:31] shaygover commented on #146
Using v1.64.1 and Azure Account v0.10.1, I can login.
However, I couldn't list nodes.

But a least now there was something useful in the logs:
the azure auth plugin is deprecated in v1.22+, unavailable in v1.25+; use https://github.com/Azure/kubelogin instead.

So I installed that and run

[code]

And now it working, still with v1.64.1. Will attempt to upgrade to latest later.

[2022-07-21 11:38] shaygover commented on #146
v1.69.2 working.
Closing.
Thanks everyone!

[2022-07-21 11:38] #146 closed

[2022-08-04 11:09] Tatsinnit opened #152 "Handle cases for Sovereign Clouds and other Gov Scenarios."
I guess from initial day the primary target of this extension was common Azure/sub scenarios, It will be worth to document what are the current VsCode extension command which don't support USGov or Sovereign cloud due to underlying SDK or any other usage. For example Detector Diagnostics work fine as its a direct ARM resourceClient call. Like Periscope currently has no support for sovereign cloud.

[2022-08-05 00:11] #152 closed

[2022-11-10 23:15] Tatsinnit opened #173 "Kubectl Don't work for AAD Enabled clusters. 💡☕️"
**Describe the bug**
Kubectl Don't work for AAD Enabled clusters.

**Mention the platform you are using**
Mention what platform you are using (oss, vscode) and pick the corresponding label.

**To Reproduce**
Steps to reproduce the behavior:

* Go to any feature currently using `kubctl` like ` get all pods` for AAD Enabled cluster.
    * The command run will hang as `Longrunning kubectl...`

**Expe

[2022-11-11 01:59] mrafsyam commented on #173
Seconded this.

Running any kubectl command, you'll get something like this for a long time
![image](https://user-images.githubusercontent.com/6120781/201244006-0f4cac70-deaf-4065-8b24-c44abf5fabf2.png)

Eventually, this failed

[2022-11-11 07:33] Tatsinnit commented on #173
☕️☕️ The key of this issue is the behind the scenes stuff, for AAD Auth clusters, so if we keep this long running for a while, this happens: (It happening because behind the scene auth has interactive mode and this all appears once the token expires.)

<img width="582" alt="Screenshot 2022-11-11 at 8 29 18 PM" src="https://user-images.githubusercontent.com/6233295/201289378-9d04e5b9-5fbc-40b7-8793

[2022-11-14 01:09] peterbom commented on #173
Some notes after a bit of experimentation and discussion with @Tatsinnit...

Some background detail on the existing implementation: we download a temporary `kubeconfig` file for each run of the command. This is why it happens for every invocation of a`kubectl` commands, rather than using any cached tokens that might exist in users' `.kube` directories.

Ideally, we want to avoid forcing the user t

[2022-11-14 21:24] Tatsinnit commented on #173
Thank you so much @peterbom and yes absolutely on-point from the discussions. ☕️ ❤️

💡 🐈 Just to also add a step back thinking we did at first: is that do we want to handle the AAD Scenario and then we agree that this makes sense as the k8s recommendation is now to use AAD.

**Option:3** - Seems progressive and it will help in kubernetes extension when this behavior will start showing up more wide

[2022-11-15 14:57] squillace commented on #173
AAD is _by design_ hard to automate, so no one should think this is a failure scenario. In addition, if we actually DID do a pop up window in VS to do the creds/auth dance, no one would have a problem -- this is the same experience that anyone would have using aad creds (WSL does pretty much this and it's just required).

Now, all that said, if you think way 3 is easier and less awkward, go for it

[2022-11-15 22:47] rzhang628 commented on #173
Second on this.
Use VS Code (version 1.73.1).

Reproduce:
1. go to AKS extension, right click Run kubectl commands,
2. try to run any of the commands: get all events, all pods, API resources, Cluster Info or Nodes
3. the command runs forever

Screenshots:
<img width="308" alt="image" src="https://user-images.githubusercontent.com/69864647/202040689-67a07e61-10da-4f5f-9f33-52dcda362922.png">

Deskt

[2022-11-30 22:32] Tatsinnit commented on #173
❤️☕️🙏 Thank you all for the kind discussions under this issue, we have made relevant changes and they are released as part of `1.3.7`, closing this issue

[2022-11-30 22:32] #173 closed